@use "../variables/fonts";
@use "../variables/colors";

.pinned-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-template-areas:
    "card1 card1 card2 card3"
    "card1 card1 card4 card5";
  > div {
    background-color: rgb(216, 132, 22);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    transition: transform 1s ease;
    &:first-of-type {
      grid-area: card1;
      background-color: colors.$card1-grey-color;
    }
    &:nth-of-type(2){
      grid-area: card2;
      background-color: colors.$card2-blue-color;
    }
    &:nth-of-type(3){
      grid-area: card3;
      background-color: colors.$card3-orange-color;
    }
    &:nth-of-type(4){
      grid-area: card4;
      background-color: colors.$card4-purple-color;
    }
    &:nth-of-type(5){
      grid-area: card5;
      background-color: colors.$card5-pink-color;
    }
    &:hover {
      transform: translateY(-10px);
    }
  }
}

.single-card-section {
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  > div {
    background-size: 100%;
    color: colors.$text-light-color;
    border-radius: 16px;
    padding: 6em 8em 6em 6em;
    transition: background-size 1s ease;
    &:first-of-type {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.unsplash.com/photo-1558697698-9300a84a6a99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ")
        center;
    }
    &:nth-of-type(2){
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.unsplash.com/photo-1543248939-ff40856f65d4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ")
        center;
    }
    &:nth-of-type(3){
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ")
        center;
    }
    &:hover {
      background-size: 110%;
    }
  }
  h2 {
    font-size: fonts.$font-large;
    font-weight: 700;
    margin: 10px 0;
  }
  p {
    margin: 10px 0;
  }
}

.loadmore-section {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
  justify-content: center;
  align-items: center;
}

.subscribe-form {
  padding: 0 10em;
  h3 {
    font-size: fonts.$font-large;
    color:colors.$text-light-color;
    margin: 0;
  }
  p {
    display: inline-flex;
    span {
      overflow: hidden;
      font-size: fonts.$font-medium;
      color:colors.$text-light-color;
      white-space: nowrap;
      animation: typing steps(21) 5s infinite;
      justify-content: center;
      align-items: center;
    }
  }
  .email {
      background: none;
      font-weight: 700;
      border: none;
      border-bottom: 2px solid colors.$text-light-color;
      padding-bottom: 0.5em;
      font-size: 1.1em;
      text-align: center;
      font-weight: 700;
      color: colors.$text-light-color;
      width: 450px;
      margin-bottom: 2em;
      justify-content: center;
      align-items: center;
      transition: 0.5s ease-in-out;
      &:focus {
        outline: none;
        width: 600px;
      }
    }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.midline{
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:colors.$text-light-color;
}

.grid-card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-template-areas:
    "card1 card1 card2 card2"
    "card3 card4 card5 .";
  div {
    background-color: rgb(29, 48, 189);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    transition: transform 1s ease;
    &:first-child {
      grid-area: card1;
    }
    &:hover {
      transform: translateY(-10px);
    }
  }
  h2 {
    font-size: fonts.$font-large;
    font-weight: 700;
    margin: 10px 0;
  }
  p {
    margin: 10px 0;
  }
}
